.reveal .editor.vsplit pre {
	width: 49%;
	float: left;
	margin-left: 0px;
}

.reveal .editor.vsplit pre,
.reveal .editor.vsplit pre>code {
	max-height: 400px;
	height: 400px;
}

.reveal .editor.vsplit pre:first-child {
	margin-left: 0px;
	margin-right: 10px;
}

.reveal .editor.vsplit pre.output {
	width: 100%;
	margin-right: 0px;
}

.reveal .editor pre.output,
.reveal .editor pre.output code {
	max-height: 100px;
}

.reveal .editor.vsplit pre.output,
.reveal .editor.vsplit pre.output code {
	height: 100px;
}

